*{
    margin: 0;
    padding: 0;
    font-weight: 350;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #FFA6D1;
    width: 100%;
    align-items: center;
    display: flex;
    box-shadow: 0px 5px 5px #ddd;
    position: fixed;
    height: 80px;
}

#menu{
    height: 55px;
    width: 55px;
    background-color: #FC66AE;
    margin: 14px;
    box-shadow: 0px 2px 5px #BA4A80;
}

.linhas{
    height: 5px;
    width: 45px;
    background-color: #FDF3FB;
    margin: 5px;
    margin-top: 10px;
    box-shadow: 0px 5px 5px #BA4A80;
}

section {
    padding-top: 70px;
}

#título{
    height: 40px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    margin-top: 30px;
    background-color: #FC66AE;
    box-shadow: 0px 5px 5px #ddd;
    color: #FDF3FB;
    justify-content: center;
    display: flex;
}

h2{
   justify-content: center;
   align-items: center;
   width: 100%;
   display: flex;
   text-align: center;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sobrenós{
    height: 180px;
    width: 90%;
    margin-left:5%;
    margin-right: 5%;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

#texto{
    width: 84%;
    margin:20px 8% 0 ;
    justify-content: center;
}

.p1{
    font-size: 0.9em;
    text-indent: 30px;
    text-align: justify;
    text-shadow: 0px 5px 5px #ddd;
}

#produtosfoto{
    display: flex;
}

#produtostexto{
    display: flex;
}

#produtosbutton{
    display: flex;
}

img{
    width: 100%;
}

.imgprodutos1{
    width: 35%;
    height: 35%;
    margin-left: 10%;
    margin-right: 5%;
}

.imgprodutos2{
    width: 35%;
    height: 35%;
    margin-left: 5%;
    margin-right: 10%;
}

.textoprodutos1{
    width: 35%;
    height: 35%;
    margin-left: 10%;
    margin-right: 5%;
}

.textoprodutos2{
    width: 35%;
    height: 35%;
    margin-left: 5%;
    margin-right: 10%;
}

.p2{
    justify-content: center;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    font-size: 1em;
    text-shadow: 0px 5px 5px #ddd;
}

.buttonprodutos1{
    justify-content: center;
    width: 100%;
    display: flex;
    height: 35%;
    margin-left: 8%;
    margin-right: 5%;
    border-radius: 0%;
    border: none;
    margin-bottom: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonprodutos2{
    justify-content: center;
    width: 100%;
    display: flex;
    height: 35%;
    margin-left: 5%;
    margin-right: 8%;
    border-radius: 0%;
    border: none;
    margin-bottom: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button{
    background-color: #FC66AE;
    font-size: 0.9em;
    padding: 4px;
    color: #fff;
    box-shadow: 0px 5px 5px #ddd;
}

